# 2.2.2 Ensemble Learning
#### CS 6350: HW 2

---

[36 points] We will implement the boosting and bagging algorithms based on decision
trees. Let us test them on the bank marketing dataset in HW1 (bank.zip in Canvas).
We use the same approach to convert the numerical features into binary ones. That
is, we choose the media (NOT the average) of the attribute values (in the training set)
as the threshold, and examine if the feature is bigger (or less) than the threshold. For
simplicity, we treat “unknown” as a particular attribute value, and hence we do not
have any missing attributes for both training and test.

In [2]:
from decision_tree import *

In [3]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [4]:
%load_ext autoreload
%autoreload 2

In [5]:
test_data = pd.read_csv('bank/test.csv', header=None)
train_data = pd.read_csv('bank/train.csv', header=None)

In [6]:
data = train_data

In [7]:
columns = ['age', 'job', 'marital', 'education', 'default', 'balance', 'housing', 'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays', 'previous', 'poutcome', 'y']

train_data.columns = columns
test_data.columns = columns

In [8]:
train_data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,41,services,married,secondary,no,0,yes,no,unknown,5,may,114,2,-1,0,unknown,no
1,48,blue-collar,single,secondary,no,312,yes,yes,cellular,3,feb,369,2,-1,0,unknown,no
2,55,technician,married,secondary,no,1938,no,yes,cellular,18,aug,193,1,386,3,success,yes
3,54,admin.,married,tertiary,no,59,yes,no,cellular,10,jul,268,1,-1,0,unknown,no
4,34,management,single,tertiary,no,2646,no,no,cellular,14,apr,142,1,-1,0,unknown,yes

In [ ]:
test_data.he

In [9]:
num_2_binary(train_data)
num_2_binary(test_data)

In [10]:
train_data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,True,services,married,secondary,no,False,yes,no,unknown,False,may,False,True,True,True,unknown,no
1,True,blue-collar,single,secondary,no,False,yes,yes,cellular,False,feb,True,True,True,True,unknown,no
2,True,technician,married,secondary,no,True,no,yes,cellular,True,aug,True,False,True,True,success,yes
3,True,admin.,married,tertiary,no,False,yes,no,cellular,False,jul,True,False,True,True,unknown,no
4,False,management,single,tertiary,no,True,no,no,cellular,False,apr,False,False,True,True,unknown,yes

---

### A. decision stumps

[8 points] Modify your decision tree learning algorithm to learn decision stumps
— trees with only two levels. Specifically, compute the information gain to select
the best feature to split the data. Then for each subset, create a leaf node. Note
that your decision stumps must support weighted training examples. Based on
your decision stump learning algorithm, implement AdaBoost algorithm. Vary
the number of iterations T from 1 to 1000, and examine the training and test
errors. You should report the results in two figures. The first figure shows how the
training and test errors vary along with T. The second figure shows the training
and test errors of all the decision stumps learned in each iteration. What can you
observe and conclude? You have had the results for a fully expanded decision tree
in HW1. Comparing them with Adaboost, what can you observe and conclude?

In [41]:
def ada_boost(train_data, test_data, max_iter=5):
    
    attrs = list(train_data.columns.values)[:-1]
    label = list(train_data.columns.values)[-1]
    
    M_train,N_train = train_data.shape()
    M_test, N_test = test_data.shape()
    
    # initialize weights, D_1
    D = np.ones(M_train)/M_train
    
    # initialize hypotheses, one each for training and testing data
    h_train = np.zeros(M_train)
    h_test = np.zeros(M_test)
    
    
    for i in range(max_iter):
        print('iter: {}'.format(i))
        # Train weak learner using training data weighted according to D_t
        tree = id3(train_data, train_data, attrs, label, gain_method=entropy, parent_label=None, weights=D, current_depth=0, max_depth=2):
        # get weake hypothesis h_t
        
        # calculate error w.r.t. D_t
        
        # get alpha
        
        # update weights

    # final classifier is summation of alphas and hypotheses

SyntaxError: unexpected EOF while parsing (<ipython-input-41-0e01d1ef5597>, line 25)

In [39]:
data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,True,services,married,secondary,no,False,yes,no,unknown,False,may,False,True,True,True,unknown,no
1,True,blue-collar,single,secondary,no,False,yes,yes,cellular,False,feb,True,True,True,True,unknown,no
2,True,technician,married,secondary,no,True,no,yes,cellular,True,aug,True,False,True,True,success,yes
3,True,admin.,married,tertiary,no,False,yes,no,cellular,False,jul,True,False,True,True,unknown,no
4,False,management,single,tertiary,no,True,no,no,cellular,False,apr,False,False,True,True,unknown,yes

In [12]:
weights = np.array([.2,.05,.05,.05,.2,.2,.05,.05,.05,.1])
weights

array([0.2 , 0.05, 0.05, 0.05, 0.2 , 0.2 , 0.05, 0.05, 0.05, 0.1 ])

In [13]:
labels = np.array([1,0,0,0,1,1,1,0,0,0])

In [14]:
entropy(labels, weights)

0.9340680553754909

In [18]:
attrs = list(data.columns.values)[:-1]
attrs

['age',
 'job',
 'marital',
 'education',
 'default',
 'balance',
 'housing',
 'loan',
 'contact',
 'day',
 'month',
 'duration',
 'campaign',
 'pdays',
 'previous',
 'poutcome']

In [19]:
label = list(data.columns.values)[-1]
label

'y'

In [25]:
attrs = columns[:-1]
label = columns[-1]

In [27]:
data = train_data

In [28]:
tree = id3(data, data, attrs, label, gain_method=entropy, parent_label=None, max_depth=2)

In [29]:
tree

{'duration': {False: {'month': {'apr': 'no',
    'aug': 'no',
    'dec': 'no',
    'feb': 'no',
    'jan': 'no',
    'jul': 'no',
    'jun': 'no',
    'mar': 'no',
    'may': 'no',
    'nov': 'no',
    'oct': 'no',
    'sep': 'no'}},
  True: {'poutcome': {'failure': 'no',
    'other': 'no',
    'success': 'yes',
    'unknown': 'no'}}}}

---

### B. Bagged Trees

[8 points] Based on your code of the decision tree learning algorithm (with information gain), implement a Bagged trees learning algorithm. Note that each tree
should be fully expanded — no early stopping or post pruning. Vary the number
of trees from 1 to 1000, report how the training and test errors vary along with
the tree number in a figure. Overall, are bagged trees better than a single tree?
Are bagged trees better than Adaboost?

---

### C. Optimal weight vector with analytical form

Through the bias and variance decomposition, we have justified why
the bagging approach is more effective than a single classifier/predictor. Let us
verify it in real data. Experiment with the following procedure.

• REPEAT for 100 times

• [STEP 1] Sample 1, 000 examples uniformly without replacement from the training datset

• [STEP 2] Run your bagged trees learning algorithm based on the 1, 000 training examples and learn 1000 trees.

• END REPEAT


• Now you have 100 bagged predictors in hand. For comparison, pick the first
tree in each run to get 100 fully expanded trees (i.e. single trees).


• For each of the test example, compute the predictions of the 100 single trees.
Take the average, subtract the ground-truth label, and take square to compute
the bias term (see the lecture slides). Use all the predictions to compute the
sample variance as the approximation to the variance term (if you forget
what the sample variance is, check it out here). You now obtain the bias and
variance terms of a single tree learner for one test example. You will need
to compute them for all the test examples and then take average as your
final estimation of the bias and variance terms for the single decision tree
learner. You can add the two terms to obtain the estimation of the general
squared error (that is, expected error w.r.t test examples). Now use your 100
bagged predictors to do the same thing and estimate the general bias and
variance terms, as well as the general squared error. Comparing the results
of the single tree learner and the bagged trees, what can you conclude? What
causes the difference?

---

### D. Random Forest

 [8 points] Implement the random forest algorithm as we discussed in our lecture.
Vary the number of random trees from 1 to 1000. Note that you need to modify
your tree learning algorithm to randomly select a subset of features before each
split. Then use the information gain to select the best feature to split. Vary the
size of the feature subset from {2, 4, 6}. Note that if your feature subset happen
to be all the features used before, simply resample the subset. Report in a figure
how the training and test errors vary along with the number of random trees for
each feature subset size setting. How does the performance compare with bagged
trees?

---

### E. Single random tree vs whole forest

[6 points] Following (c), estimate the bias and variance terms, and the squared
error for a single random tree and the whole forest. Comparing with the bagged
trees, what do you observe? What can you conclude?